* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

.borderBox {
    border-top: 3px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

// EFEECTO PARA CAMBIAR DE COLOR AL SELECCIONAR

p, h1, h2, h3, h4{ 
        &::selection{
           color: white;
           background: #eba9a7;
           text-shadow: 1px 1px 2px #ccc;
    }
}
