nav {
    width: 100vw;

    button {
        color: white;
        text-align: start;
    }
}

.navBarClasse {
    padding: 5px;

    a {
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-family: 'Playfair Display', serif;
        list-style: none;
        font-size: 13px;
    }
}

.propriedadesFlexClasse {
    display: flex;
    flex-direction: row;
    justify-content: center;
}