// SMALL ADVICES

@media only screen and (max-width: 576px) {
    .headerGrid {
        display: none;
    }

    .navGrid {
        .navBarClasse {
            padding: 5px;
            height: 20px;
        }
    }

    .asideGrid {
        margin: 0 20px 20px 20px;
        align-items: center;
        width: auto;
        padding: 10px;

        .textAside {
            font-size: 15px;
            text-align: center;
        }
    }

    .mainGrid {
        margin: 0 20px 20px 20px;
        padding: 30px;
        width: auto;
        .textMain {
            font-size: 15px;
        }

        .contact_form {
            width: 100%;
            height: auto;
            margin: 10px auto;
            border-radius: 10px;
            padding-bottom: 5px;
            padding-left: 10px;

            input {
                width: 408px;
                height: 40px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: #BC8785;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }

            textarea {
                background-color: #fbfbfb;
                width: 405px;
                height: 150px;
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: #BC8785;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
                padding-top: 15px;
            }

            label {
                display: block;
                float: center;
            }

            button {
                margin-bottom: 20px;
                margin-top: 10px;
                color: white;
                background-color: #BC8785;
                border-color: #BC8785;
                border-style: solid;
                border-radius: 0.8rem;
                width: 100px;
            }


        }

    }

    .table {
        width: auto;
    }
}

// MEDIUM ADVICES
@media only screen and (min-width: 577px) and (max-width: 992px)  {


    .menuContainer {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .itemMenu {
        padding: 5px;
        width: auto;
        font-size: 30px;
    }

    .asideGrid {
        margin: 0 20px 20px 20px;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px;
    }

    .textAside {
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
        color: black;
        text-align: center;
    }

    .titulosGrid {
        font-size: 25px;
    }

    .mainGrid {
        margin: 0 20px 20px 20px;
        padding: 30px;
        width: auto;
        height: auto;

    }

    .textMain {
        font-size: 20px;
    }

    .footerGrid {
        background-color: #BC8785;
        font-size: 20px;
        width: auto;
    }

}