// SMALL ADVICES

@media only screen and (max-width: 576px) {
    .headerGrid {
        display: none;
    }

    .navGrid {
        .navBarClasse {
            padding: 5px;
            height: 20px;
        }
    }

    .asideGrid {
        margin: 0 20px 20px 20px;
        align-items: center;
        width: auto;
        padding: 10px;

        .textAside {
            font-size: 15px;
            text-align: center;
        }
    }

    .mainGrid {
        margin: 0 20px 20px 20px;
        padding: 30px;
        width: auto;

        .textMain {
            font-size: 15px;
        }

        .galeriaContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: nowrap;
            width: auto;

            .itemGaleria {
                align-items: center;
                width: 200px;
                height: auto;
            }

        }

        .table {
            border-radius: 0.5rem;
            tr{
                td{
                    padding: 5px;
                    font-size: 10px;
                    text-align: justify;
                }
            }
        
        }

        .contact_form {
            width: 100%;
            height: auto;
            margin: 10px auto;
            border-radius: 10px;
            padding-bottom: 5px;
            padding-left: 10px;

            input {
                width: 100%;
            }

            textarea {
                width: 100%;
            }
        }

    }
    .footerGrid {
        .quote {
            font-size: 12px;
    }
    .flexFooter {
        display: flex;
        flex-direction: column;
        .buttonFooter {
            margin: 2px;
    
            a {
                font-size: 12px;
            }
        }
    
    }
    .textFooter {
        font-size: 12px;
    }
}

}


// MEDIUM ADVICES
@media only screen and (min-width: 577px) and (max-width: 992px) {


    .menuContainer {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .itemMenu {
        padding: 5px;
        width: auto;
        font-size: 30px;
    }

    .asideGrid {
        margin: 0 20px 20px 20px;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px;
    }

    .textAside {
        font-size: 20px;
        font-family: 'Roboto Mono', monospace;
        color: black;
        text-align: center;
    }

    .titulosGrid {
        font-size: 25px;
    }

    .mainGrid {
        margin: 0 20px 20px 20px;
        padding: 30px;
        width: auto;
        height: auto;

    }

    .textMain {
        font-size: 20px;
    }

    .footerGrid {
        background-color: #BC8785;
        font-size: 20px;
        width: auto;
    }

}