@import "general";
@import "textos";
@import "imagenes";
@import "header";
@import "grillas";
@import "efectos";

body {
    font-size: 12px;
    background-color: #f2f2f2;
    list-style: none;
    width: 100%;
}


.claseTable {
    width: 100%;

    td,
    ul,
    li {
        font-family: 'Playfair Display', serif;
        color: black;
        font-size: 14px;
        list-style: none;
        width: auto;
    }
}


        .redesContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            text-align: center;
            a {
                width: 40px;
                height: 40px;
                color: #BC8785;
                transition: 0.4s;
                align-content: center;
                font-size: 35px;
                border-radius: 10px;

            }

        }
        .back-to-top {
            background-color: #BC8785;
            border-radius: 10px;
            bottom: 14px;
            box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
            color: #ccc;
            cursor: pointer;
            height: 40px;
            position: fixed;
            right: 22px;
            width: 40px;
            z-index: 3;
          &::after {
              content: '▲';
              display: flex;
              font-size: 15px;
              justify-content: center;
              padding-left: 1px;
              padding-top: 7px;
            }
         
          }


        

    @import "mediqueries";

